<div id="products" class="row">

    <div class="title col s10 offset-s2 m12">

        <h1>Nuestros Productos</h1>

    </div>

</div>

<!-- Native Apps -->
<div class="row">

    <div class="col s11 offset-s1 m5 offset-m1 offset-l2 l5 offset-l2 xl3 offset-xl3">
        <h5>Desarrollo Aplicaciones Nativas</h5>
        <p>
            ¿Tienes una idea de una aplicación que te va a hacer millonario pero no sabes como empezar?<br><br>
            En Next Level disponemos de todas las herramientas necesarias para hacer tus ideas realidad, desde plantillas para tus apps,
            hasta la posibilidad de diseñas tu app desde cero con una personalización del 100%. ¿ESTAS LISTO?
        </p>
    </div>

    <div class="col s10 offset-s1 m5 offset-m1 l5 xl5 offset-xl1">
        <img src="assets/androidios.png" alt="androidvsios">
    </div>

</div>

<!-- CRM -->
<div class="row">

    <div class="col s10 offset-s1 m5 offset-m1 l3 offset-l2 offset-xl3">
        <img src="assets/CRM.jpg" alt="androidios">
    </div>

    <div class="col s11 offset-s1 m5 offset-m1 l5 offset-l2 xl3 offset-xl1">
        <h5>Sistemas de Gestión Empresarial</h5>
        <p>
            ¿Acabas de empezar con un pequeño negocio pero no sabes como gestionarlo?<br><br>
            Lo que necesitas es un Sistema de Gestión!! Gracias a nuestro equipo de especialistas 
            podrás diseñar a medida tu propio CRM/ERP con el que podrás gestionar todos tus productos,
            ventas, clientes, marketing, etc. <br>
            ¿A QUE ESPERAS?
        </p>
    </div>

</div>

<!-- Crypto -->
<div class="row">

    <div class="col s11 offset-s1 m5 offset-m1 l5 offset-l2 xl3 offset-xl3">
        <h5>Criptomonedas</h5>
        <p>
            ¿No paras de escuchar a tus amigos hablar sobre criptomonedas pero no sabes por donde empezar?<br><br>
            Con Next Level podrás empezar a invertir junto a nuestros especialistas y aprender sobre el futuro de la economía durante el proceso!!
            Gracias a nuestra amplia experiencia en este sector, podemos permitirnos realizar análisis exahustivos del mercado
            antes de cada inverisón. ¿EMPEZAMOS?
        </p>
    </div>

    <div class="col s10 offset-s1 m5 offset-m1 l5 xl5 offset-xl1">
        <img src="assets/cripto.jpg" alt="androidvsios">
    </div>

</div>

<!-- Bolsa -->
<div class="row">

    <div class="col s10 offset-s1 m5 offset-m1 l3 offset-l2 xl4 offset-xl3">
        <img src="assets/bolsaValores.jpg" alt="androidios">
    </div>

    <div class="col s11 offset-s1 m5 offset-m1 l5 offset-l2 xl3">
        <h5>Bolsa de Valores</h5>
        <p>
            ¿Siempre escuchas sobre la Bolsa de Valores pero no te atreves a adentrarte en este mundo? <br><br>
            Con Next Level podrás aprender junto a nuestros especialistas para saber todo lo necesario antes de adentrarte 
            en el mundo de la Inversión en Bolsa. Velas, Línea de Soporte, Línea de Resistencia... ¿ESTAS LISTO?
        </p>
    </div>

</div>