
        <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <img src="assets/logo.png" alt="">
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Información de contacto</h5>
                  <ul>
                    <li><p class="grey-text text-lighten-3">Telf: 647 33 35 23</p></li>
                    <li><p class="grey-text text-lighten-3">Mail: info@nextlevel.com</p></li>
                    <li><p class="grey-text text-lighten-3">Participantes:</p></li>
                    <li><p class="grey-text text-lighten-3">Javier Esmerado Vela</p></li>
                    <li><p class="grey-text text-lighten-3">Javier Ramoz López</p></li>
                    <li><p class="grey-text text-lighten-3">Andrés Sánchez Vera</p></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2021 Copyright Next Level | The Next Generation of Buisness
              </div>
            </div>
          </footer>
