
    <div class="row">

        <div class="title col s10 offset-s2 m12">

            <h1>¿Quienes Somos?</h1>

        </div>

    </div>

    <div class="row">

        <div class="col s12 m10 offset-m1 l5 offset-l2 xl5 offset-xl2">

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam impedit inventore, laborum suscipit reiciendis, eaque dolorum possimus illum autem porro magnam dolores fugit sunt, iste velit dolorem facere? Delectus, nihil.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, omnis distinctio esse officiis aliquam harum rerum necessitatibus ullam sapiente repellat in excepturi nihil itaque reiciendis. Adipisci, fuga aliquid! Amet, placeat.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis debitis incidunt quo, velit repellendus accusamus quibusdam dolor autem sit est perspiciatis maxime minima illum corporis, optio minus error! Aspernatur, sed.
            </p>

        </div>

        <div class="col s11 m8 offset-m3 l5 offset-l1 xl5">

            <img src="assets/criptoCoin.jpg" alt="CoinImage">

        </div>

    </div>

