
    <div id="about_us" class="row">

        <div class="title col s10 offset-s2 m12">

            <h1>¿Quienes Somos?</h1>

        </div>

    </div>

    <div class="row">

        <div class="col s12 m10 offset-m1 l5 offset-l2 xl5 offset-xl2">

            <p>
                Next Level, es una empresa especializada en la inverisón en la <b>bolsa de valores y criptomonedas</b>, <b>Desarrollo de Aplicaciones Nativas</b> y 
                <b>Sistemas de Gestión Empresarial</b>. <br><br>
                Está formada por especialistas en todos nuestros sectores, inversión, desarrollo, gestión, etc. Gracias a este equipo podemos garantizar
                una alta efectividad a la hora de realizar cada una de nuestras labores con un compromiso con el cliente del 100%. En Next Level, pensamos que nuestro
                cliente debe tener la tranquilidad de saber el progeso que se está llevando a cabo, por lo que siempre va a estar informado del desarrollo de su producto
                 o servicio. <br><br>
                 
                 <span>¿ESTAS LISTO PARA CONOCERNOS MEJOR?</span>
            </p>

        </div>

        <div class="col s11 offset-s1 m8 offset-m3 l5 offset-l1 xl5">

            <img src="assets/NextLevel.jpeg" alt="CoinImage">

        </div>

    </div>

